.work3 {
  padding: 0 15vw;
  height: 40vw;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.work3:nth-child(even) {
  justify-content: flex-start;
}
.work3-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}
.work3-right {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.work3:nth-child(even) .work3-left {
  left: auto;
  right: 0;
  justify-content: flex-start;
}
.work3:nth-child(even) .work3-right {
  align-items: flex-end;
}
.work3-img-bg {
  position: absolute;
  left: 0;
  width: 90%;
}
.work3:nth-child(even) .work3-img-bg {
  left: auto;
  right: 0;
}
.work3-img-work {
  height: 37vw;
  max-height: 700px;
  min-height: 500px;
  margin: 0 30px 0 0;
}
.work3:nth-child(even) .work3-img-work {
  margin: 0 0 0 140px;
}
.work3-text-container {
  width: max-content;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
.work3-h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0.075em;
  color: #303036;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.work3-line {
  margin-top: 10px;
  width: 5px;
  height: 36px;
  background-color: #303036;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.work3-h3-2 {
  padding-left: 15px;
}
.work3-p {
  text-align: left;
  letter-spacing: 0.075em;
  font-weight: bold;
  color: #303036;
  margin-left: 20px;
}
.work3-p2 {
  width: 400px;
  text-align: left;
  letter-spacing: 0.075em;
  font-weight: 400;
  color: #303036;
}
.work3-button-container {
  width: 180px;
  margin-left: 20px;
  align-self: flex-start;
}
.work3-tag-container {
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: column;
  margin-bottom: 20px;
  margin-left: 20px;
  transition: all 1s 0.5s;
  align-self: flex-start;
}

@media screen and (max-width: 1280px) {
  .work3 {
    padding: 0 8vw;
  }
}
@media screen and (max-width: 1024px) {
  .work3 {
    padding: 0 35px;
    min-height: 450px;
  }
  .work3-right {
    width: 47.5%;
    min-width: 360px;
  }
  .work3-h3 {
    font-size: 28px;
  }
  .work3-text-container {
    min-width: 325px;
  }
  .work3-line {
    margin-top: 7px;
    height: 30px;
  }
  .work3-img-work {
    min-height: 400px;
    margin: 0 30px 0 0;
  }
  .work3-tag-container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .work3 {
    padding: 0;
    height: 700px;
    min-height: auto;
    flex-direction: column;
  }
  .work3-left {
    align-self: flex-start;
    width: 80%;
    position: relative;
    left: 0;
  }
  .work3:nth-child(even) .work3-left {
    align-self: flex-end;
  }
  .work3-right {
    width: max-content;
  }
  .work3-img-bg {
    width: 480px;
  }
  .work3-line {
    margin-top: 8px;
    width: 4px;
    height: 28px;
  }
  .work3-h3-2 {
    padding-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .work3-h3 {
    font-size: 22px;
  }
  .work3-line {
    margin-top: 5px;
    height: 26px;
    width: 4px;
  }
  .work3-left {
    width: 100%;
  }
  .work3-right {
    width: 100%;
    padding: 0 20px;
  }
  .work3:nth-child(even) .work3-right {
    align-items: flex-start;
  }
  .work3-text-container {
    width: 90%;
    min-width: 320px;
  }
  .work3-tag-container {
    align-self: flex-start;
  }
  .work3-button-container {
    width: 180px;
    align-self: flex-start;
  }
}
